---
import SelectCase from "../components/SelectCase.astro";
import caseData from "../source/caseList.mts"

---

<html>
	<head>
		<title>Trump Litigation tracker</title>
	</head>
    <body>
		{caseData.map((iCase) => (
			<SelectCase client:load iCase={iCase} />
		))}
    </body>
</html>
