---
import actions from "../source/main.mts";
import ActionComp from "../components/ActionComp.astro";
import Header from "../components/Header.astro";
---

<html>
  <head>
    <title>Tracking Trumps Exeuctive Orders</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.jpg" />

    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(38, 38, 38);
        background-image: url("trump_final.png");
        background-size: 100% 100%;
      }

      .actions-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
    </style>
  </head>
  <body>
    <Header />

    <div class="actions-container">
      {actions.map((action) => <ActionComp localAction={action} />)}
    </div>
  </body>
</html>
